<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <title> Sggs|{% block title %} {% endblock title %} </title> 
</head>
<body>

    {% if request.user.is_authenticated %}
    
    <div class="navbar">
        <ul>
            <li><a href="#" id="profiledropdown" class="myclass"> Welcome, {{request.user.username|capfirst}}</a></li>
            <li><a href="{% url 'passwordchange' %}" class="myclass">Change Password</a></li>
            <li><a href="{% url 'logout'%}" class="myclass">Logout</a></li>
        </ul>
    </div>
   
    
     {% else %}
     <ul>
        <li><a href="{%  url 'login' %}">login</a></li> 
        {% comment %} <li><a href="{% url 'customerregistration' %}" class="text-danger">Create an Account</a></li> {% endcomment %}
     

     </ul>
    </div>


    {% endif %}
   



    {% block css %}
    <link rel="stylesheet" href="{% static 'enroll/css/base.css' %}">

    {% endblock css %}

    
  


    

    {% block content %}
    {% block js %}
    {% endblock js %}

    {% endblock content %}


    
    
   

    



    {% comment %} {% block branchblock %}

    {% block childcss %}
    
    
    {% endblock childcss %}
   

    {% block cdncss %}{% endblock cdncss %}
     
    {% block template %}

    {% endblock template %}

    {% block cdnjs %}{% endblock cdnjs %}
    
    


   
    {% endblock branchblock %}

    {% endcomment %}

    
</body>
</html>