{% extends 'enroll/base.html' %}



 {% block css %} 
{% load static %}

 <link rel="stylesheet" href="  {% static 'enroll/css/form.css' %}"> 
{% endblock css %} 


{% block content %}




<h2>choose your department</h2>
<ul>
    {% comment %} <li> <a class="col-4" href="{% url 'cse' "cse" %}">cse</a></li> {% endcomment %}
    <li> <a  href="{% url 'cse' %}">cse</a></li>
    <li><a href="{% url 'chemical' %}">chemical</a></li>
    <li><a href="{% url 'civil'  %}">civil</a></li>
    <li><a href="{% url 'entc' %}">entc</a></li>
    <li><a href="{% url 'electrical' %}">electrical</a></li>
    <li><a href="{% url 'instru'  %}">Instru</a></li>
    <li><a href="{% url 'pro'  %}">Production</a></li>
    <li><a href="{% url 'textile' %}">Textile</a></li>
    <li><a href="{% url 'it'   %}">Information technology</a></li>
    
    
</ul>


  {% block js %}
  {% endblock js %}

{% endblock content %}



{% comment %} {% block branchblock %}

{% block childcss %}
<link rel="stylesheet" href="{% static 'enroll/css/tmain.css' %}">


{% endblock childcss %}





{% block cdncss %}
<link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous ' %}">

{% endblock cdncss %}



{% block template %}

<body style="background-color:#a79d8f">
    <div id="heading_container">
        <h1><span>Academic Department</span></h1>
    </div>
    <div class="container">
        <div class="row mt-4">
            <a class="col-4" href='main/cse.html'>
                <div class="card">
                    <div class="col-9">
                        Computer Science and Engineering
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>

            <a class="col-4" href='main/chemical.html'>
                <div class="card">
                    <div class="col-9">
                        Chemical Engineering
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>

            <a class="col-4" href='main/civil.html'>
                <div class="card">
                    <div class="col-9">
                        Civil Engineering
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>

            <a class="col-4" href='main/entc.html'>
                <div class="card">
                    <div class="col-9">
                        Electronics & Telecommunication Engineering
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>

            <a class="col-4" href='main/electrical.html'>
                <div class="card">
                    <div class="col-9">
                        Electrical Engineering
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>

            <a class="col-4" href='main/it.html'>
                <div class="card">
                    <div class="col-9">
                        Information Technology
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>

            <a class="col-4" href='main/instru.html'>
                <div class="card">
                    <div class="col-9">
                        Instrumentation Engineering
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>

            <a class="col-4" href='main/mech.html'>
                <div class="card">
                    <div class="col-9">
                        Mechanical Engineering
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>

            <a class="col-4" href='main/production.html'>
                <div class="card">
                    <div class="col-9">
                        Production Engineering
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>

            <a class="col-4" href='main/textile.html'>
                <div class="card">
                    <div class="col-9">
                        Textile Technology
                    </div>
                    <div class="col-3">
                        <img src="https://img.icons8.com/external-outline-black-m-oki-orlando/64/null/external-computer-engineering-engineering-outline-outline-black-m-oki-orlando.png"/>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endblock template %}

    {% block cdnjs %}
<script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous' %}"></script>


{% endblock cdnjs %}

{% endblock branchblock %}
    


<!-- <div id="content_container">
    <ul>
        <li class="card"></li>
        <li class="department"><a href='main/chemical.html'>Chemical Engineering</a></li>
        <li class="department"><a href='main/civil.html'>Civil Engineering</a></li>
        <li class="department"><a href='main/entc.html'>Electronics & Telecommunication Engineering</a></li>
        <li class="department"><a href='main/electrical.html'>Electrical Engineering</a></li>
        <li class="department"><a href='main/it.html'>Information Technology</a></li>
        <li class="department"><a href='main/instru.html'>Instrumentation Engineering</a></li>
        <li class="department"><a href='main/mech.html'>Mechanical Engineering</a></li>
        <li class="department"><a href='main/production.html'>Production Engineering</a></li>
        <li class="department"><a href='main/textile.html'>Textile Technology</a></li>
    </ul>
</div> -->
































 {% comment %} <h2>Responsive Form</h2>
<p>Resize the browser window to see the effect. When the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other.</p>

<div class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="fname">First Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Last Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="country">Country</label>
    </div>
    <div class="col-75">
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Subject</label>
    </div>
    <div class="col-75">
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>


 {% endcomment %}

{% comment %} </form> {% endcomment %} 